<div>
  <h3>Welcome to Hackevents</h3>
  <p>Find all hackathonsFind all hackathonsFind all hackathonsFind all hackathonsFind all hackathonsFind all hackathonsFind all hackathonsFind all hackathonsFind all hackathonsFind all hackathonsFind all hackathonsFind all hackathonsFind all hackathonsFind all hackathonsFind all hackathonsFind all hackathonsFind all hackathonsFind all hackathonsFind all hackathonsFind all hackathonsFind all hackathonsFind all hackathonsFind all hackathonsFind all hackathonsFind all hackathons</p>
</div>

<div>
  <%= form_for(@user, url: interest_profile_path, method: :patch) do |f| %>

    <div class="form-inputs">
      <%= f.text_field :location %>
      <%= f.number_field :radius %>
    </div>
    <br />

    <div class="form-actions">
      <%= f.submit  "Continue", :class => "btn btn-primary" %>
    </div>
  <% end %>
</div>