<div class="col-md-5 col-md-offset-3">
  <div class="form-area">  
    <br style="clear:both">
      <h3 style="margin-bottom: 25px;">Log In with Twitter</h3>

        <div><%= link_to "Sign Up with Twitter", '/auth/twitter', method: 'get', html: {class: 'form-horizontal'} %></div>
  </div>
</div>