<h1>
  Hackathons
</h1>

<hr />

<p>
  <%= link_to "New", new_admin_hackathon_path, class: "btn btn-default" %>
</p>

<hr />

<% @hackathons.sort_by(&:created_at).reverse.each do |hackathon| %>
  <div>
    <p>
      <%= l(hackathon.date_start, format: "%e %b") %>
      <%= link_to hackathon.title, edit_admin_hackathon_path(hackathon) %>
      <% if hackathon.sponsors.present? %>
        <%= p "sponsor exists" %>
      <% end %>
    </p>
  </div>
<% end %>