<!-- begin:content -->
<div id="job">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="job-title">
          <center>
            <h3>Developer Jobs powered by Hackevents</h3>
          </center>
        </div>
      </div>

      <!-- begin:sidebar -->
      <div class="col-md-3 col-md-push-9 sidebar">
        <div class="widget">
          <%= mail_to "tobias@hackevents.co", "List your job!", subject: "Insert job on hackevents.co", class: "col-md-12 btn btn-success btn-lg", target: "_blank" %>
        </div>
        <div class="widget widget-sidebar widget-white">
          <div class="widget-header">
           <h3>Your job ad:</h3>
         </div>    
         <ul class="list-check">
          <li><p>From 100 EUR* - for 30 days</p></li>
          <li><p>Mention in our newsletter</p></li>
          <li><p>2.500+ newsletter subscribers</p></li>
          <li><p>40.000+ page impressions/month</p></li>
        </ul>
      </div>
      <!-- break -->
      <div class="widget widget-sidebar widget-white">
        <div class="widget-header">
          <h3>Benefits in detail</h3>
        </div>    
        <ul>
          <li>
            <h4>Fast</h4>
            <p>You have an amazing developer-centric job? Then publishing a job ad has never been easier.</p>
          </li>
          <li>
            <h4>Effective</h4>
            <p>Hackevents Jobs and its newsletter help you reach the target audience you have always been looking for: enthusiastic software developers!</p>
          </li>
          <li>
            <h4>Fair</h4>
            <p>We succeed when you succeed! Not getting the desired response? We will work with you to find a solution.</p>
          </li>
        </ul>
      </div>
      <!-- break -->
      <!-- <div class="widget widget-sidebar widget-white">
        <div class="widget-header">
          <h3>Hackevents in social media</h3>
        </div>    
        <center>
          <a href="http://www.twitter.com/hackevents" target="_blank"><i class="fa fa-twitter fa-3x"></i> Twitter</li></a><p>   </p>
          <a href="http://www.facebook.com/hackevents" target="_blank"><i class="fa fa-facebook fa-3x"></i> Facebook</li></a></center>
        </div> -->
      </div>
      <!-- end:sidebar -->

      <!-- begin:article -->

      <div class="col-md-9 col-md-pull-3">
        <div class="row">
          <!-- begin:job -->
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="job-container">
                <div class="job-content-list">
                  <!-- Date created --> 
                  <div class="col-lg-2">
                    <div class="job-text">
                      <h3><small>24 Nov</small></h3>
                    </div>
                  </div>
                  <!-- City of Job --> 
                  <div class="col-lg-2">
                    <div class="job-text">
                      <h3><small>Wiesbaden</small></h3>
                    </div>
                  </div>
                  <!-- Job Title + Company -->
                  <div class="col-lg-5">
                    <div class="job-text">
                      <h3>
                        <!-- Job Title --> 
                        <a href="http://www.stylight.de/Jobs/Details/UI-Designer-o97G0fwG/?ref=hackevents" target="_blank">UI Designer</a> 
                        <!-- Company --> 
                        <small>Stylight</small>
                      </h3>
                    </div>
                  </div>
                  <!-- Company Logo --> 
                  <div class="col-lg-3">
                    <div class="job-image-list">
                      <img src="http://oktoberhackfest.com/images/stylight.png" class="job-image-list col-lg-12">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end:job -->
          <!-- begin:job -->
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="job-container">
                <div class="job-content-list">
                  <!-- Date created --> 
                  <div class="col-lg-2">
                    <div class="job-text">
                      <h3><small>24 Nov</small></h3>
                    </div>
                  </div>
                  <!-- City of Job --> 
                  <div class="col-lg-2">
                    <div class="job-text">
                      <h3><small>Berlin, Germany</small></h3>
                    </div>
                  </div>
                  <!-- Job Title + Company -->
                  <div class="col-lg-5">
                    <div class="job-text">
                      <h3>
                        <!-- Job Title --> 
                        <a href="https://mesosphere.com/careers/?gh_jid=19492?ref=hackevents" target="_blank">Go Developer</a> 
                        <!-- Company --> 
                        <small>Mesosphere</small>
                      </h3>
                    </div>
                  </div>
                  <!-- Company Logo --> 
                  <div class="col-lg-3">
                    <div class="job-image-list">
                      <img src="http://oktoberhackfest.com/images/mesosphere.png" class="job-image-list col-lg-12">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end:job -->
          <!-- begin:job -->
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="job-container">
                <div class="job-content-list">
                  <!-- Date created --> 
                  <div class="col-lg-2">
                    <div class="job-text">
                      <h3><small>24 Nov</small></h3>
                    </div>
                  </div>
                  <!-- City of Job --> 
                  <div class="col-lg-2">
                    <div class="job-text">
                      <h3><small>Munich, Germany</small></h3>
                    </div>
                  </div>
                  <!-- Job Title + Company -->
                  <div class="col-lg-5">
                    <div class="job-text">
                      <h3>
                        <!-- Job Title --> 
                        <a href="http://www.loyaltypartner.com/de/karriere/jobs/stellenmarkt/?ref=hackevents" target="_blank">Agile Software Engineer Java</a> 
                        <!-- Company --> 
                        <small>PAYBACK</small>
                      </h3>
                    </div>
                  </div>
                  <!-- Company Logo --> 
                  <div class="col-lg-3">
                    <div class="job-image-list">
                      <img src="http://oktoberhackfest.com/images/Payback.png" class="job-image-list col-lg-12">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end:job -->
          <!-- begin:job -->
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="job-container">
                <div class="job-content-list">
                  <!-- Date created --> 
                  <div class="col-lg-2">
                    <div class="job-text">
                      <h3><small>23 Nov</small></h3>
                    </div>
                  </div>
                  <!-- City of Job --> 
                  <div class="col-lg-2">
                    <div class="job-text">
                      <h3><small>Berlin, Germany</small></h3>
                    </div>
                  </div>
                  <!-- Job Title + Company -->
                  <div class="col-lg-5">
                    <div class="job-text">
                      <h3>
                        <!-- Job Title --> 
                        <a href="https://angel.co/angellist/jobs/60438-engineer-europe?ref=hackevents" target="_blank">Engineer</a> 
                        <!-- Company --> 
                        <small>Angellist</small>
                      </h3>
                    </div>
                  </div>
                  <!-- Company Logo --> 
                  <div class="col-lg-3">
                    <div class="job-image-list">
                      <img src="http://oktoberhackfest.com/images/AngelList.png" class="job-image-list col-lg-12">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end:job -->
          <!-- begin:job -->
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="job-container">
                <div class="job-content-list">
                  <!-- Date created --> 
                  <div class="col-lg-2">
                    <div class="job-text">
                      <h3><small>18 Nov</small></h3>
                    </div>
                  </div>
                  <!-- City of Job --> 
                  <div class="col-lg-2">
                    <div class="job-text">
                      <h3><small>Munich, Germany</small></h3>
                    </div>
                  </div>
                  <!-- Job Title + Company -->
                  <div class="col-lg-5">
                    <div class="job-text">
                      <h3>
                        <!-- Job Title --> 
                        <a href="http://figo.io/pdf/Anzeige_Senior-Python.pdf?ref=hackevents" target="_blank">Senior Python Developer</a> 
                        <!-- Company --> 
                        <small>Figo</small>
                      </h3>
                    </div>
                  </div>
                  <!-- Company Logo --> 
                  <div class="col-lg-3">
                    <div class="job-image-list" style="margin-top:0px;">
                      <img src="http://oktoberhackfest.com/images/figo.jpg" class="job-image-list col-lg-12" style="width:80%;margin-top:0px;">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end:job -->
          <!-- begin:job -->
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="job-container">
                <div class="job-content-list">
                  <!-- Date created --> 
                  <div class="col-lg-2">
                    <div class="job-text">
                      <h3><small>18 Nov</small></h3>
                    </div>
                  </div>
                  <!-- City of Job --> 
                  <div class="col-lg-2">
                    <div class="job-text">
                      <h3><small>Seattle, WA, USA</small></h3>
                    </div>
                  </div>
                  <!-- Job Title + Company -->
                  <div class="col-lg-5">
                    <div class="job-text">
                      <h3>
                        <!-- Job Title --> 
                        <a href="https://www.dropbox.com/jobs/listing/91404?ref=hackevents" target="_blank">Software Engineer</a> 
                        <!-- Company --> 
                        <small>Dropbox</small>
                      </h3>
                    </div>
                  </div>
                  <!-- Company Logo --> 
                  <div class="col-lg-3">
                    <div class="job-image-list">
                      <img src="http://oktoberhackfest.com/images/dropbox.png" class="job-image-list col-lg-12">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end:job -->
        </div>
      </div>
    </div>
    <!-- end:content -->
  </div>
</div>