<!-- begin:content -->
<div id="job">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="job-title">
          <center>
            <h3>Developer Jobs powered by Hackevents</h3>
            <p>64 Jobs zur Auswahl</p>
          </center>
        </div>
      </div>

      <!-- begin:sidebar -->
      <div class="col-md-3 col-md-push-9 sidebar">
        <div class="widget">
          <%= mail_to "tobias@hackevents.co", "Hier Anzeige schalten!", subject: "Job einstellen auf Hackevents.co", class: "col-md-12 btn btn-success btn-lg", target: "_blank" %>
        </div>
        <div class="widget widget-sidebar widget-white">
          <div class="widget-header">
           <h3>Deine Job Anzeige:</h3>
         </div>    
         <ul class="list-check">
          <li><p>Preis: ab 100 EUR netto - für 30 Tage</p></li>
          <li><p>Erwähnung im Job-Newsletter</p></li>
          <li><p>3.500+ Job-Newsletter Empfänger</p></li>
          <li><p>120.000+ Page Impressions im Monat</p></li>
        </ul>
      </div>
      <!-- break -->
      <div class="widget widget-sidebar widget-white">
        <div class="widget-header">
          <h3>Hackevents in den sozialen Netzwerken</h3>
        </div>    
        <center>
          <a href="http://www.twitter.com/hackevents" target="_blank"><i class="fa fa-twitter fa-3x"></i> Twitter</li></a><p>   </p>
          <a href="http://www.facebook.com/hackevents" target="_blank"><i class="fa fa-facebook fa-3x"></i> Facebook</li></a></center>

        </div>
        <!-- break -->
        <div class="widget widget-sidebar widget-white">
          <div class="widget-header">
            <h3>Alle Vorteile im Detail</h3>
          </div>    
          <ul>
            <li>
              <h4>Schnell</h4>
              <p>Super leicht eine Anzeige erstellen und sofort veröffentlichen</p>
            </li>
            <li>
              <h4>Wirkungsvoll</h4>
              <p>Über Hackevents Jobs und unseren Job-Newsletter erreichst Du blitzschnell tausende von potenziellen neuen Mitarbeitern. Kaum Streuverluste durch zielgenaue Ansprache von Online Marketing Machern.</p>
            </li>
            <li>
              <h4>Partnerschaftlich</h4>
              <p>Nicht zufrieden, mit der Resonanz auf Deine Anzeige? Sprich uns an, wir finden eine Lösung!</p>
            </li>
          </ul>
        </div>
        <!-- break -->
      </div>
      <!-- end:sidebar -->

      <!-- begin:article -->

      <div class="col-md-9 col-md-pull-3">
        <div class="row">
          <!-- begin:job -->
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="job-container">
                <div class="job-content-list">
                  <!-- Date created --> 
                  <div class="col-lg-2">
                    <div class="job-text">
                      <h3><small>5.11.2015</small></h3>
                    </div>
                  </div>
                  <!-- City of Job --> 
                  <div class="col-lg-2">
                    <div class="job-text">
                      <h3><small>Wiesbaden</small></h3>
                    </div>
                  </div>
                  <!-- Job Title + Company -->
                  <div class="col-lg-5">
                    <div class="job-text">
                      <h3>
                        <!-- Job Title --> 
                        <a href="#">Swift 2 iOS Developer</a> 
                        <!-- Company --> 
                        <small>HACKEVENTS</small>
                      </h3>
                    </div>
                  </div>
                  <!-- Company Logo --> 
                  <div class="col-lg-3">
                    <div class="job-image-list">
                      <img src="img/he_logo.png" class="job-image-list col-lg-12">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end:job -->   
          </div>
        </div>
      </div>
    </div>
    <!-- end:content -->
  </div>
</div>