
<div style="margin-bottom:40px;">
<%= link_to hackathons_by_city_path(country: "germany", city: "munich"), class: "btn btn-default btn-group-justified" do %>
  <span class="text">Munich</span>
  <span class="pull-right number">5</span>
<% end %>
<%= link_to hackathons_by_city_path(country: "germany", city: "munich"), class: "btn btn-default btn-group-justified" do %>
  <span class="text">Munich</span>
  <span class="pull-right number">5</span>
<% end %>
</div>