<div id="days-menu">
  <ul>
    <li id="days-menu-every-day">
      <a href="#">
        <span class="icon">
        </span>
        <span class="text">
          Every day
        </span>
      </a>
    </li>
    <% ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"].each do |day| %>
      <li>
        <a href="#">
          <span class="icon">
          </span>
          <span class="text">
            <%= day %>
          </span>
        </a>
      </li>
    <% end %>
  </ul>
</div>
