<% case params[:style] %>
<% when "map" %>
  <%= render :partial => "list" %>
<% when "calendar" %>
  <%= render :partial => "calendar" %>
<% else %>

  <h1>
    All hackathons in one place.
  </h1>
  <p class="lead">
    Hackevents helps you find and plan your next hackathon.
  </p>

  <hr />
  
  <%= render :partial => "list" %>
<% end %>
