.header-image {
  background-image: image-url("http://images.hackevents.de/cities/default.png");
  background-repeat: no-repeat;
  background-position: center;
  max-height: 400px;
}


.city-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  text-transform: uppercase;
  font-weight: 500;
  font-size: 30px;
  color: black;
  span {
    padding:5px;
    background-color:white;
  }
}

.berlin-image {
  background-image: image-url("http://images.hackevents.de/cities/berlin.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  text-transform: uppercase;
  font-weight: 500;
  font-size: 30px;
  color: black;
  span {
    padding:5px;
    background-color:white;
  }
}

.munich-image {
  background-image: image-url("http://images.hackevents.de/cities/munich.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  text-transform: uppercase;
  font-weight: 500;
  font-size: 30px;
  color: black;
  span {
    padding:5px;
    background-color:white;
  }
}

.london-image {
  background-image: image-url("http://images.hackevents.de/cities/london.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  text-transform: uppercase;
  font-weight: 500;
  font-size: 30px;
  color: black;
  span {
    padding:5px;
    background-color:white;
  }
}