/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

$body-bg:                       #FFFFFF;
$brand-primary:                 #F57C00;
$text-color:                    #333333;
$link-color:                    #F57C00;

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px;
}

.navbar-brand {
  span {
    width:                220px;
    text-indent:          -9999px;
    background-image:     image-url("he_logo.png");
    background-repeat:    no-repeat;
    background-position:  left center;
    background-size:      contain;
    display:              block;
  }
}

#hackathons {
  .date {
    background:     #edeceb;
    border-radius:  3px;
    box-shadow:     0 1px 0 0 rgba(83,69,64,0.3),0 1px 1px 0 rgba(0,0,0,0.2);
    position:       relative;
    text-align:     center;
    .date-day-number {
      font-weight: bold;
    }
    .day-month {
    }
  }
  .title {
    font-weight: bold;
  }
}

#map {
  margin: 0 0 1.5em 0;
}

.table-calendar {
  td { min-height: 40px; width: 14%; vertical-align: top; }
  td.today { background-color: #F1F1F1; }
  tr, td, th { border: 1px solid #EEEEEE; }
  td, th {
    max-width:      0;
    overflow:       hidden;
    text-overflow:  ellipsis;
    white-space:    nowrap;
  }
  p { 
    margin: 0; 
    padding: 0;
  }
  p.day {
    
  }
  p.event.highlighted {
    a {
      background-color: lighten($brand-primary, 10%);
    }
  }
  p.event.inactive {
    a {
      background-color: lighten($brand-primary, 60%);
    }
  }
  p.event {
    a {
      display:          block;
      overflow:         hidden;
      text-overflow:    ellipsis;
      white-space:      nowrap;
      
      color:            #000000;
      font-size:        12px;
      margin:           0;
      padding:          8px 6px;
      line-height:      1.2em;
      border-bottom:    1px solid #FFFFFF;
      
      transition:       background-color 0.2s ease;
      background-color: lighten($brand-primary, 40%);
    }
    margin-left:      -5px;
    margin-right:     -6px;
  }
}
