/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

$body-bg:                       #FFFFFF;
$brand-primary:                 #F57C00;
$text-color:                    #333333;
$link-color:                    #F57C00;

@import "bootstrap-sprockets";
@import "bootstrap";

#head {
  background-color: #FFFFFF;
  margin-left:      -70px;
  margin-right:     -70px;
  padding:          0 70px;
  overflow:         hidden;
  border-bottom:    1px solid #D8D8D8;
  margin-bottom:    30px;
  #logo {
    height: 80px;
    a {
      width:                220px;
      height: 80px;
      text-indent:          -9999px;
      background-image:     image-url("he_logo.png");
      background-repeat:    no-repeat;
      background-position:  left center;
      background-size:      162px auto;
      display:              block;
    }
    float: left;
  }
  
  form {
    margin-top: 22px;
    margin-left: 230px;
  }
}

#menu-button {
  width: 56px;
  height: 80px;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 100;
  a {
    width: 56px;
    height: 80px;
    text-indent: -9999px;
    display: block;
    background-image: image-url("menu-button.png");
    background-size: 26px 15px;
    background-repeat: no-repeat;
    background-position: right center;
  }
}

#sidebar {
  background: rgba(215,215,215,0.50);
  position: fixed;
  width: 230px;
  height: 100%;
  padding-top: 80px;
  padding: 80px 30px 0 30px;
  
  #style-menu {
    margin-bottom: 40px;
  }
  
  #categories-menu {
    margin-bottom: 40px;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li#categories-menu-all {
        border-bottom: 1px solid #D8D8D8;
        padding-bottom: 5px;
        margin-bottom: 5px;
      }
      li {
        line-height: 20px;
        a {
          text-decoration: none;
          color: #7F7F7F;
          &:hover {
            color: #262626;
          }
          span.icon {
            width: 10px;
            height: 10px;
            display: inline-block;
            border-radius: 5px;
            margin-right: 2px;
          }
          span.name {
          }
        }
      }
    }
  }
  
  #days-menu {
    margin-bottom: 40px;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li#days-menu-every-day {
        border-bottom: 1px solid #D8D8D8;
        padding-bottom: 5px;
        margin-bottom: 5px;
      }
      li {
        line-height: 20px;
        a {
          text-decoration: none;
          color: #7F7F7F;
          &:hover {
            color: #262626;
          }
          span.icon {
            width: 10px;
            height: 10px;
            display: inline-block;
            border-radius: 1px;
            margin-right: 2px;
            background-color: white;
            border: 1px solid #CCCCCC;
          }
          span.name {
          }
        }
      }
    }
  }
}

#main {
  background-color: white;
  position: relative;
  overflow: hidden;
  margin-left: 230px;
  padding: 0 70px 0 70px;
  h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #4A4A4A;
    line-height: 29px;
  }
  p {
    color: #4A4A4A;
  }
}

.hackathons {
  
  .hackathon {
    overflow: hidden;
    margin-bottom: 1.5em;
    .date {
      width:      60px;
      text-align: right;
      float:      left;
      margin-right: 20px;
      .date-month {
        font-size:    18px;
        color:        #000000;
        line-height:  18px;
        font-weight:  300;
      }
      .date-day-number {
        font-size:    30px;
        color:        #000000;
        line-height:  30px;
        font-weight:  800;
      }
      .date-week-days {
        font-size:    12px;
        color:        #9B9B9B;
        line-height:  15px;
      }
    }
    .category {
      width:      4px;
      float:      left;
      margin-right: 20px;
      .category-bar {
        display:          block;
        width:            4px;
        height:           120px;
        background-color: #4CD964;
        border-radius:    2px;
        overflow:         hidden;
      }
    }
    .favorite {
      width:    140px;
      float:    left;
      margin-right: 20px;
      .favorite-action {
        a {
          display: block;
          line-height: 36px;
        }
        border-bottom: 1px solid #D8D8D8;
      }
      .favorite-by-people {
        padding-top: 8px;
        span {
          &:nth-child(5n) {
            margin-right: 0;
          }
          background-size: 24px 24px;
          margin-right: 5px;
          margin-bottom: 5px;
          display: block;
          float: left;
          width: 24px;
          height: 24px;
          overflow: hidden;
          text-indent: -9999px;
          border-radius: 12px;
          border: 1px solid #CCCCCC;
        }
      }
    }
    .image {
      background-color: #F1F1F1;
      width:            160px;
      float:            left;
      img {
        width: 100%;
      }
    }
    .info {
      margin: 0 0 0 444px;
      overflow: hidden;
      h2 {
        font-weight: 700;
        font-size: 18px;
        color: #4A4A4A;
        line-height: 23px;
        margin: 0;
        padding: 0;
      }
      p {
        .city {
          font-weight: 500;
        }
        .country {
        }
      }
    }
  }
}

.table-calendar {
  td { min-height: 40px; width: 14%; vertical-align: top; }
  td.today { background-color: #F1F1F1; }
  tr, td, th { border: 1px solid #EEEEEE; }
  td, th {
    max-width:      0;
    overflow:       hidden;
    text-overflow:  ellipsis;
    white-space:    nowrap;
  }
  p { 
    margin: 0; 
    padding: 0;
  }
  p.day {
    
  }
  p.event.highlighted {
    a {
      background-color: lighten($brand-primary, 10%);
    }
  }
  p.event.inactive {
    a {
      background-color: lighten($brand-primary, 60%);
    }
  }
  p.event {
    a {
      display:          block;
      overflow:         hidden;
      text-overflow:    ellipsis;
      white-space:      nowrap;
      text-decoration:  none;
      
      color:            #000000;
      font-size:        12px;
      margin:           0;
      padding:          8px 6px;
      line-height:      1.2em;
      border-bottom:    1px solid #FFFFFF;
      
      transition:       background-color 0.2s ease;
      background-color: lighten($brand-primary, 40%);
    }
    margin-left:      -5px;
    margin-right:     -6px;
  }
}




// body {
//   padding-top: 60px;
// }
// 
// .navbar {
//   .navbar-brand {
//     span {
//       width:                220px;
//       text-indent:          -9999px;
//       background-image:     image-url("he_logo.png");
//       background-repeat:    no-repeat;
//       background-position:  left center;
//       background-size:      contain;
//       display:              block;
//     }
//   }
//   
//   li {
//     a.add-button {
//       &:link, &:visited, &:hover, &:active {
//         background-color: $brand-primary;
//         color: #FFFFFF;
//       }
//     }
//   }
// }
// 
// #hackathons {
//   .date {
//     background:     #edeceb;
//     border-radius:  3px;
//     box-shadow:     0 1px 0 0 rgba(83,69,64,0.3),0 1px 1px 0 rgba(0,0,0,0.2);
//     position:       relative;
//     text-align:     center;
//     .date-day-number {
//       font-weight: bold;
//     }
//     .day-month {
//     }
//   }
//   .title {
//     font-weight: bold;
//   }
// }
// 
// #map {
//   margin: 0 0 1.5em 0;
// }
// 
// 
// .form-area
// {
//   background-color: #FAFAFA;
//   padding: 10px 40px 60px;
//   margin: 10px 0px 60px;
//   border: 1px solid GREY;
//   }
// 
// .form-group {
//   color: $brand-primary;
// }
