// Place all the styles related to the Cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.city-header-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  color: black;
  span {
    padding:5px;
    background-color:white;
  }
  .city-header-footer {
    //overflow: hidden;
    width: 100%;
    height: 40px;
    margin-top: -140px;
  }
  .city-header-source {
    display: inline-block;
    color: #fff;
    font-size: 10px;
    float:right;
    padding-right: 10px;
    &:hover {
      color: $brand-primary;
    }
  }
}
