/* 
  ==================
  [7. FOOTER]
  ==================
*/
#footer{
  width: 100%;
  padding: 60px 0 0;
  background-color: #0f101a;
}

#footer .widget:before,
#footer .widget:after{
  content: "";
  display: table;
  clear: both;
}

#footer .widget{
  margin-bottom: 20px;
}

#footer .widget h2{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 800;
  color: #fc6e51;
  text-align: left;
  margin-bottom: 20px;
  text-transform: none;
}

#footer .widget h3{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 800;
  color: #d9dae9;
  margin-bottom: 30px;
}

#footer .widget > ul,
#footer .widget ul{
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

#footer .widget > ul > li,
#footer .widget > ul > li > a,
#footer .widget ul > li,
#footer .widget ul > li > a{
  display: block;
  padding: 2px 0;
  font-size: 14px;
  color: #898ba2;
  font-weight: 400;
}

#footer .widget > ul > li > a::before,
#footer .widget ul > li > a::before{
  content: '\f10c';
  font-family: 'FontAwesome';
  font-size: 15px;
  font-weight: 400;
  padding-right: 15px;
}

#footer .widget > ul > li > a:hover,
#footer .widget > ul > li > a:focus,
#footer .widget ul > li > a:hover,
#footer .widget ul > li > a:focus{
  color: #e9573f;
}

#footer .widget.widget_recent_comments > ul > li > a,
#footer .widget.widget_recent_comments ul > li > a{
  display: inline-block;
}

#footer .widget.widget_recent_comments > ul > li > a:before,
#footer .widget.widget_recent_comments ul > li > a:before {
  content: "";
  font-family: 'Roboto', sans-serif;
  padding-right: 0;
}

#footer .widget.widget_recent_comments > ul > li:before,
#footer .widget.widget_recent_comments ul > li:before{
  content: '\f05d';
  font-family: 'FontAwesome';
  font-size: 16px;
  font-weight: 400;
  padding-right: 15px;
}

.copyright{
  position: relative;
  margin-top: 60px;
  padding: 60px 0 40px;
  text-align: center;
  border-top: 1px solid #2c3e50;
}

.copyright .scroltop{
  position: absolute;
  left: 50%;
  top: -18px;
  margin-left: -18px;
}

.copyright .social-links > li > a{
  position: relative;
  width: 40px;
  height: 40px;
  margin-top: 25px;
  background: #6b6e80;
  display: block;
  border-radius: 100%;
}

.copyright .social-links > li > a > .fa{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 18px;
  height: 18px;
  margin-left: -9px;
  margin-top: -9px;
  color: #1b1d2a;
  font-size: 19px;
}

.copyright .social-links > li > .icon-twitter:hover{
  background: #4099ff;
}

.copyright .social-links > li > .icon-facebook:hover{
  background: #4467ad;
}

.copyright .social-links > li > .icon-youtube:hover,
.copyright .social-links > li > .icon-angellist:hover{
  background: #fff;
}