// Place all the styles related to the hackathons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.hackathon ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
}

.upvote {
  background: #edeceb;
  border-radius: 3px;
  box-shadow: 0 1px 0 0 rgba(83,69,64,0.3),0 1px 1px 0 rgba(0,0,0,0.2);
  float: left;
  height: 44px;
  margin: 0 11px 0 0;
  position: relative;
  text-align: center;
  width: 44px;
}

.upvote--arrow {
  border-bottom: 9px solid #534540;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 9px solid transparent;
  left: 10px;
  position: absolute;
  top: 0px;
}

.upvote--count {
  color: #534540;
  display: block;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  margin: 23px 0 0;
}

.pagination {
  background-color: #fff;
  color: #000;
}

.pagination a {
  color: #f57c00;
}

