@media (min-width: 768px) {
  .hackathons {
    .hackathon {
      padding: 8px 0;
      border-radius: 4px;
      .date {
        width:      60px;
        text-align: right;
        float:      left;
        margin-right: 20px;
        .date-month {
        }
        .date-day-number {
        }
        .date-week-days {
        }
      }
      .category {
        width:      4px;
        float:      left;
        margin-right: 20px;
        .category-bar {
          display:          block;
          width:            4px;
          height:           120px;
          border-radius:    2px;
          overflow:         hidden;
          .category-bar-item {
            display:          block;
            width:            4px;
          }
        }
      }
      .favorite {
        width:    140px;
        float:    left;
        margin-right: 20px;
        .favorite-action {
          a {
            display: block;
            line-height: 36px;
          }
          border-bottom: 1px solid #D8D8D8;
        }
        .favorite-by-people {
          padding-top: 8px;
          span {
            &:nth-child(5n) {
              margin-right: 0;
            }
            background-size: 30px 30px;
            margin-right: 5px;
            margin-bottom: 5px;
            display: block;
            float: left;
            width: 30px;
            height: 30px;
            overflow: hidden;
            text-indent: -9999px;
            border-radius: 15px;
            border: 1px solid #CCCCCC;
          }
        }
      }
      .image {
        width:            160px;
        height:           120px;
        float:            left;
      }
      .image-real {
        background-size: cover;
        background-position: center;
      }
      .info {
        margin: 0 0 0 444px;
        overflow: hidden;
        h2 {
        }
        p {
          .city {
            font-weight: 500;
          }
          .country {
          }
        }
      }
      &:hover {
        background: #f7f7fa;
      }
    }

  }
}

.hackathons {
  .hackathon {
    overflow: hidden;
    margin-bottom: 1.5em;
    .date {
      .date-month {
        font-size:    18px;
        color:        #000000;
        line-height:  18px;
        font-weight:  300;
      }
      .date-day-number {
        font-size:    30px;
        color:        #000000;
        line-height:  30px;
        font-weight:  800;
      }
      .date-week-days {
        font-size:    12px;
        color:        #9B9B9B;
        line-height:  15px;
      }
    }
    .category {
      .category-bar {
        .category-bar-item {
        }
      }
    }
    .favorite {
      .favorite-action {
        a {
        }
      }
      .favorite-by-people {
        span {
          &:nth-child(5n) {
            margin-right: 0;
          }
        }
      }
    }
    .image {
      background-color: #F1F1F1;
      img {
        width: 100%;
      }
    }
    .info {
      h2 {
        font-weight: 700;
        font-size: 18px;
        color: #4A4A4A;
        line-height: 23px;
        margin: 0;
        padding: 0;
      }
      p {
        .city {
          font-weight: 500;
        }
        .country {
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .hackathons {
    .hackathon {
      padding: 15px 10px 0 10px;
      position:relative;
      min-height:100px;
      margin-bottom:0;
      .image {
        display:none;
      }
      .date {
        text-align: right;
        float:      left;
        margin-right: 20px;
        margin-top: 5px;
        margin-left:20px;
        width: 50px;
        .date-month {
          font-size:    18px;
          color:        #000000;
          line-height:  18px;
          font-weight:  300;
        }
        .date-day-number {
          font-size:    30px;
          color:        #000000;
          line-height:  30px;
          font-weight:  800;
        }
        .date-week-days {
          font-size:    12px;
          color:        #9B9B9B;
          line-height:  15px;
        }
      }
      .favorite {
        position:absolute;
        margin-top:20px;
        //margin-left:10px;
        .favorite-action {
          a {
            visibility: hidden;
            span {
              visibility: visible;
              font-size: 20px;
            }
          }
        }
        .favorite-by-people {
          display:none;
          span {
            &:nth-child(5n) {
              margin-right: 0;
            }
          }
        }
      }
      .info {
        h2 {
          font-weight: 500;
          font-size: 16px;
          color: #4A4A4A;
          line-height: 23px;
          margin: 0;
          padding: 0;
        }
        .location-and-date {
          margin-left: 58px;
        }
        p {
          .info-date {
            display: none;
          }
          .city {
            font-weight: 500;
          }
          .country {
          }
        }
      }
      .sponsors {
        margin-left: 58px;
        float: right;
        display:none;
        span {
          a {
            color:black;
            img {
              display: none;
            }
          }:hover {
            text-decoration:none;
            color: #BFBFBF;
          }
        }
      }&:hover {
        background: #f7f7fa;
      }
    }
  }
}

.panel {
  background-color: #f5f5f5;
  height: auto !important;
  p {
    padding: 10px;
    text-align: center;
    color: black;
  }
  pre {
    border: none;
  }
}

.bootstrap-datetimepicker-widget {
  border: 3px solid $brand-primary;
  }

/* 
  ==================
  [2. Hackathon Header]
  ==================
*/
#hackathon-header {
  width: 100%;
  padding: 40px 0;
}

#hackathon-header h2{
  display: block;
  //margin-bottom: 60px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 600;
  text-align: center;
  color: $brand-primary;
}

#hackathon-header h2 small{
  display: block;
  margin-top: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

#hackathon-header p {
  font-size: 14px;
  font-weight: 300;
}

.hackathon-logo {
  max-width: 250px;
}

.hackathon-logo-static {
  max-width: 100%;
}

.banner-date-location {
  max-width: 500px;
  width: 500px;
  height: auto;
  background-image: image-url("banner-hackathon-date-location.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  h3 {
    display: block;
    margin-bottom: 60px;
    padding-bottom: 10px;
    padding-top : 10px;
    font-size: 32px;
    line-height: 32px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    a {
      color: #fff;
    }
  }
}

@media (max-width: 767px) {
  .banner-date-location {
    width: auto;
    height: auto;
    background-image: image-url("banner-hackathon-date-location.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    h3 {
      display: block;
      margin-bottom: 20px;
      padding-bottom: 20px;
      padding-top : 20px;
      font-size: 20px;
      line-height: 24px;
      font-weight: 600;
      text-align: center;
      color: #fff;
      a {
        color: #fff;
      }
    }
  }
  .btn-margin {
    margin-top: 5px;
  }
}




/* 
  ==================
  [3. Description]
  ==================
*/
#description {
  width: 100%;
  padding: 40px 0;
}

#description h2{
  display: block;
  margin-bottom: 60px;
  font-size: 28px;
  line-height: 32px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

#description h2 small{
  display: block;
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}

#description p {
  font-size: 14px;
  font-weight: 300;
  text-align: left;
}


/* 
  ==================
  [4. Prizes]
  ==================
*/
#prizes {
  width: 100%;
  padding: 40px 0;
}

#prizes h2{
  display: block;
  margin-bottom: 60px;
  font-size: 28px;
  line-height: 32px;
  font-weight: 600;
  text-align: center;
}

#prizes h2 small{
  display: block;
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}

.prize-container{
  display: block;
  margin-bottom: 20px;
}

.prize-container:hover > .prize-icon a{
  -webkit-box-shadow: 0 0 0 5px #fc6e51;
     -moz-box-shadow: 0 0 0 5px #fc6e51;
    -ms-box-shadow: 0 0 0 5px #fc6e51;
     -o-box-shadow: 0 0 0 5px #fc6e51;
      box-shadow: 0 0 0 5px #fc6e51;
}

.prize-icon{
  display: block;
  margin-bottom: 20px;
}

.prize-icon a{
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  background: #fc6e51;
  border: 8px solid #fff;
  -webkit-border-radius: 100%;
     -moz-border-radius: 100%;
    -ms-border-radius: 100%;
     -o-border-radius: 100%;
      border-radius: 100%;
}

.prize-icon a > i{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 45px;
  height: 45px;
  margin-left: -22px;
  margin-top: -22px;
  font-size: 45px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
}

.prize-content{
  text-align: center;
}

.prize-content h3{
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 15px;
  font-weight: 600;
}

.api-prize {
  text-align: center;
}

.api-prize h3 {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 15px;
  font-weight: 600;
}



/* 
  ==================
  [5. Schedule]
  ==================
*/
#schedule {
  width: 100%;
  padding: 40px 0;
}

#schedule h2{
  display: block;
  margin-bottom: 60px;
  font-size: 28px;
  line-height: 32px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

#schedule h2 small{
  display: block;
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}

#schedule p {
  font-size: 14px;
  font-weight: 300;
}


/* 
  ==================
  [6. Sponsors]
  ==================
*/
#sponsors{
  position: relative;
  width: 100%;
  padding: 60px 0;
  background: #f4f4f4;
}

.heading-title{
  display: block;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px;
}

.heading-title h2{
  position: relative;
  display: inline;
  font-size: 28px;
  line-height: 32px;
  font-weight: 600;
  text-transform: uppercase;
}


.sponsor-image{
  position: relative;
  overflow: hidden;
}

.sponsor-image img{
  max-width: 100%;
  //width: 100%;
  height: auto;
  margin-bottom: 30px;
}

/* 
  ==================
  [x. Favorites]
  ==================
*/
#hackathon-favorites{
  position: relative;
  width: 100%;
  padding: 60px 0;
}

/* 
  ==================
  [7. BMTA Buildmethisapp CTA]
  ==================
*/
#bmta-banner{
  width: 100%;
  padding: 15px 0 10px;
  background-color: #000080;
  -webkit-background-size: cover !important;
     -moz-background-size: cover !important;
    -ms-background-size: cover !important;
     -o-background-size: cover !important;
      background-size: cover !important;
  background-position: center bottom;
  background-repeat: no-repeat;
  .btn-twitter {
    background-color: #c8a2c8;
    color: #000;
  }
}

#bmta-banner h3{
  margin-top: 5px;
  font-size: 24px;
  line-height: 38px;
  color:  #fff;
  font-weight: 300;
}

@media (max-width: 767px) {
  #bmta-banner h3{
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 20px;
    line-height: 25px;
    color:  #fff;
    text-align: center;
  }
}



/* 
  ==================
  [7. Register CTA]
  ==================
*/
#register{
  width: 100%;
  padding: 60px 0 55px;
  background-color: #f4f4f4;
  -webkit-background-size: cover !important;
     -moz-background-size: cover !important;
    -ms-background-size: cover !important;
     -o-background-size: cover !important;
      background-size: cover !important;
  background-position: center bottom;
  background-repeat: no-repeat;
}

#register h3{
  margin-top: 5px;
  font-size: 24px;
  line-height: 38px;
  color:  #000;
  font-weight: 300;
}

@media (max-width: 767px) {
  #register h3{
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 20px;
    line-height: 25px;
    color:  #000;
    text-align: center;
  }
}


/* 
  ==================
  [8. Map]
  ==================
*/

#staticMap {
  width: 100%;
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
}

#map {
  position: relative;
  #over_map { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    z-index: 99; 
    background-color:#F57C00;
    color:#fff;
    padding:5px;
  }
}


#jsMap {
  width: 100%;
  height: 400px;
}

.map_image {
    position: relative;
    width:100%;
}