@media (max-width: 767px) {
  #head {
    #head-search-bar {
      display: none;
    }
  }
}


.twitter-typeahead { width: 100%; }
.twitter-typeahead .tt-input, .twitter-typeahead .tt-hint { width: 100%; margin: 0px; padding: 8px 12px; border: 2px solid #ccc; outline: none; }
.twitter-typeahead .tt-input:focus { border: 2px solid #0097cf; }
.twitter-typeahead .tt-hint { color: #999; }
.twitter-typeahead .tt-dropdown-menu { width: 100%; padding: 0; background-color: #fff; border: 1px solid rgba(0, 0, 0, 0.2); border-top: 0px; }
.twitter-typeahead .tt-dropdown-menu .tt-suggestion { text-align: left; padding: 3px 20px; font-size: 18px; line-height: 24px; }
.twitter-typeahead .tt-dropdown-menu .tt-suggestion.tt-cursor { color: #fff; background-color: #0097cf; }
.twitter-typeahead .tt-dropdown-menu .tt-suggestion em { font-weight: bold; font-style: normal; }

.dropdown-menu-typeahead .suggestion { cursor: pointer; margin-left: 15px; margin-right: 20px; }
.dropdown-menu-typeahead .suggestion:hover { background-color: $brand-primary; }
.dropdown-menu-typeahead .tt-header { font-weight: bold; margin-left: 5px; }


#head {
  background-color: #FFFFFF;
  margin-left:      -70px;
  margin-right:     -70px;
  padding:          0 70px;
  height:           80px;
  border-bottom:    1px solid #D8D8D8;
  margin-bottom:    30px;
  #logo {
    height: 80px;
    a {
      width:                220px;
      height: 80px;
      text-indent:          -9999px;
      background-image:     image-url("he_logo.png");
      background-repeat:    no-repeat;
      background-position:  left center;
      background-size:      162px auto;
      display:              block;
    }
    float: left;
  }
  #head-actions {
    margin-top: 22px;
    margin-left: 230px;
    //margin-right: 60px;
    position: absolute;
    width: 90%;
  }
  form {
  }
  #profile-button {
    .profile-button-inner {
      border: 1px solid #CCCCCC;
      width: 34px;
      height: 34px;
      text-indent: 100%;
      white-space: nowrap;
      background-size: contain;
      overflow: hidden;
      cursor: pointer;
      display: block;
      &:hover {
        border: 1px solid #7F7F7F;
      }
    }
    a:hover {
      text-decoration:none;
    }
  }
}

#head.head-cover {
  margin-left:0;
  margin-right:0;
}

@media (max-width: 580px) {
  #head.head-cover {
  padding: 0 10px;
}
}
