<div class="block app-block-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-2 m-b">
        <ul class="list-unstyled list-spaced">
          <li><h6 class="text-uppercase">For US Hackers</h6></li>
          <li><a href="/hackathon/usa">Hackathons in USA</a></li>
          <li><a href="/cities/san-francisco">Hackathons in San Francisco</a></li>
          <li><a href="/cities/new-york">Hackathons in New York</a></li>
          <li><a href="/cities/chicago">Hackathons in Chicago</a></li>
        </ul>
      </div>
       <div class="col-sm-2 m-b">
        <ul class="list-unstyled list-spaced">
          <li><h6 class="text-uppercase">For EU Hackers</h6></li>
          <li><a href="/hackathons/europe">Hackathons in Europe</a></li>
          <li><a href="/cities/london">Hackathons in London</a></li>
          <li><a href="/cities/berlin">Hackathons in Berlin</a></li>
          <li><a href="/cities/barcelona">Hackathons in Barcelona</a></li>
          <li><a href="/cities/stockholm">Hackathons in Stockholm</a></li>
        </ul>
      </div>
      <div class="col-sm-2 m-b">
        <ul class="list-unstyled list-spaced">
          <li><h6 class="text-uppercase">For Organizers</h6></li>
          <li><%= link_to "About Hackevents", about_path %></li>
          <li><%= link_to "Add your hackathon", "https://hackevents.typeform.com/to/WGEBKK", class: "add-button", data: { behavior: 'add-hackathon' } %></li>
        </ul>
      </div>
  
       <div class="col-sm-6">
        <h6 class="text-uppercase">About</h6>
        <p>Hackevents is a product of <a style="color:#D96134;" href="http://www.buildmethisapp.com/?ref=hackevents" target="_blank">Build Me This App</a>. 
        <br>Made with <span class="fa fa-heart"></span> in Berlin and Munich.</p>
        <br>
        <p>Follow <a style="color:#D96134;" href="http://www.twitter.com/hackevents" target="_blank"><span class="fa fa-twitter"></span>  Hackevents</a> on Twitter.
        <br><%= link_to "Imprint", imprint_path %>
        <br>
        <br>Powered by
        <a href='https://mixpanel.com/f/partner'><img src='https://cdn.mxpnl.com/site_media/images/partner/badge_blue.png' alt='Mobile Analytics' /></a>
      </div>
    </div>
  </div>
</div>

